.classpath
.project
.settings/
target/
.idea
*.iml
*.log
logback.out.xml

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
dependency-reduced-pom.xml

spice86dumpFunctions.csv
spice86dumpFunctionsDetails.txt
spice86dumpJavaStubs.java
spice86dumpMemoryDump.bin