<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
  <!-- PIC can be very verbose when programs mistreat it ... -->
  <logger name="spice86.emulator.devices.externalinterrupt.Pic" level="WARN"/>
  <!-- Timer can be very verbose -->
  <logger name="spice86.emulator.devices.timer.Timer" level="WARN"/>
  <!-- PC speaker is usually no interesting -->
  <logger name="spice86.emulator.devices.sound.PcSpeaker" level="WARN"/>
  <!-- Display file IO and other DOS interactions -->
  <logger name="spice86.emulator.interrupthandlers.dos" level="INFO"/>
  <!-- Display Video bios interactions -->
  <logger name="spice86.emulator.interrupthandlers.video" level="INFO"/>
  <!-- A few logs at load time -->
  <logger name="spice86.emulator.loadablefile" level="INFO"/>
  <!-- Display help -->
  <logger name="spice86.ui.CommandLineParser" level="INFO"/>
  <!-- Display program load informations -->
  <logger name="spice86.emulator.ProgramExecutor" level="INFO"/>
</configuration>